.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/new.png') no-repeat;
    background-size: cover;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    background-position: 50% 50%;
    background-attachment: fixed;
}
 

.btn{
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    background-color: white;
    color:black;
}

.file{
    border-radius: 4px 10px;
    background-color: white;
    color:black;
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;

}

.file:hover{
    border-radius: 4px 10px;
    background-color: black;
    color:white;
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;

}
.btn:hover{
    background-color: black;
    color: white;
}
.box{

    font-family: 'Cormorant Garamond';
    text-transform: uppercase;

    margin:0 auto; 
    width:500px; //you can set it in %.
    height: 500px;
    border-radius: 250px 250px;
    position: absolute;
    padding:20px;
    top: 35%;
    left: 50%;
    // margin-top: 50px;     /* Half of height */
    margin-left: -150px;
    background-color: rgba(72, 55, 55, 0.15);  
    backdrop-filter: blur(5px);
    box-shadow: inset;
    border:2px solid;
    border-radius: px;
    }
