
 <div class="background">
  
  <img src="../assets/images/hexaware.png" alt="" srcset="">


  <div class="box" >
  <div id="form-wrapper" >
  <div class = "container" >

<form #editClaimForm = "ngForm" (ngSubmit)="updateClaims()">
    <h1>Tell us how we can help.</h1>

    <!-- </div> -->
           
    <!-- <div class="form-group">
        <label for="sel1">Select a Claim Type:</label>
        <select class="form-control" id="sel1">
          <option>Flood Damage</option>
          <option>Property</option>
          <option>Life</option>
          <option>Fire Damage</option>
        </select>
      </div> -->

      <div class="form-group">
        <label for="amount">Amount Request</label>
        <input type="amount" class="form-control" id="amount" aria-describedby="amount" placeholder="$1234.00" type="number">
        <small id="emailHelp" class="form-text text-muted">Ask For What You Deserve.</small>
      </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Please Provide A Brief Description:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <br>
    
            <div class="form-group">
              <label for="exampleFormControlFile1">Upload Any Relevant Files</label>
              <input type="file" class="file" id="exampleFormControlFile1">
            </div>
            
            <br>

            <button type="submit" class="btn btn-primary">Submit</button>

</form>


   

          
   