
<div class="background">

    <div class = "error">
        <p style="color: black ">401 Error Unauthorized</p>  
<!-- <img src="../assets/images/401-error-code.jpg" alt=""> -->
</div>
<button class="btn btn-light">
    <small class = "float-right" [routerLink]="['']"> 
      <b>LOGIN</b>
</small>
  </button>
  <button class="btn btn-light">
<small class = "float-right" [routerLink]="['/register']"> 
    <b>REGISTER</b>
</small>
</button>

    <!-- <img  src="../assets/images/hexaware.png" alt="" srcset="" > -->
<!-- <p style="color: black font-size: 40px">401 Error Unauthorized</p> -->
</div>