<div class="dialog">

<div class="background">
  
  <!-- <img src="../assets/images/hexaware.png" alt="" srcset=""> -->
  


  <div class="box">
  <div id="form-wrapper">
<div class = "container">
    <h2 style="color: black; font-weight: bolder; ">REGISTER</h2>
    <!-- angular form  module imports and method call for logging in the user from the register service -->
<form #registerform = "ngForm"  (ngSubmit) = "registerUser()">
    <small >
        <!-- incorrect credentials message 500 or 401 error -->
        {{ message }} 
    </small>
    <div class="form-group" style="color: black; font-weight: bolder; ">
        <label for="firstName">
          FIRST NAME:
      </label>
        <input 
        type="firstname" class="form-control"  
        name = "firtname"required #firstName="ngModel" [(ngModel)] = "customer.firstName">
        <small *ngIf="firstName.invalid && firstName.touched">
          <!-- class binding for validation -->
                <b><i>First Name</i></b> is required to login.
               </small> 
      </div>
      <div class="form-group" style="color: black; font-weight: bolder; ">
        <label for="lastName">
          LAST NAME:
      </label>
        <input 
        type="lastname" class="form-control"  
        name = "lastname" required #lastName="ngModel" [(ngModel)] = "customer.lastName">
        
        <small *ngIf="lastName.invalid && lastName.touched">
          <!-- class binding for validation -->
                 <b><i>Last Name</i></b> is required to login.
               </small> 
      </div><br>

    <!-- requiring the email input to be 
        valid input type and an error message 
        shows up to let the 
        user know that it is required. -->
    <div class="form-group"style="color: black; font-weight: bolder; ">
      <label for="email">
        EMAIL ADDRESS:
    </label>
      <input 
      type="email" class="form-control"  
      name = "email" [(ngModel)] = "customer.emailId" 
      required [pattern]="emailPattern" 
      required #email="ngModel" [class.is-invalid] = "email.invalid  && email.touched">
      <small *ngIf="email.invalid && email.touched">
   <!-- class binding for validation -->
        
   <div *ngIf="email.errors && registerform.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
    <div *ngIf="email.errors['pattern']"> 
      Email not in Valid Format.
    </div>	
  </div>
   A valid <b><i>Email</i></b> is required to login.
        </small> 
        <!-- <div *ngIf="email.errors && registerform.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
          <div *ngIf="email.errors['pattern']"> 
            Email not in Valid Format.
          </div>	
        </div>
       -->
        <!-- <small *ngIf="email.errors['pattern'] && email.touched">
          class binding for validation 
                 <b><i>Email</i></b> needs to be in the right format.
               </small>  -->
    <!-- </div> -->
    <div class="form-group" style="color: black; font-weight: bolder; ">
        <label for="username">
          USERNAME:
      </label>
    <input 
        type="username" class="form-control"  
        name= "username" [(ngModel)] = "customer.userName" 
        
        required #username="ngModel" [class.is-invalid] = "username.invalid  && username.touched">
        <small *ngIf="username.invalid && username.touched">
          <!-- class binding for validation -->
                A valid <b><i>Username</i></b> is required to login.
               </small> 
      </div>
    <div class="form-group" style="color: black; font-weight: bolder; ">
      <label for="pwd">
        PASSWORD:
    </label>
    <!-- validation using regex  and  angular ngmodule expressions -->
      <input type="password" class="form-control"  
      name = "password" [(ngModel)] = "customer.password"
       required #password ="ngModel"  
       [class.is-invalid] = "password.invalid  && password.touched">
       <small [class.d-none]="password.invalid || password.touched">
        <!-- class binding  -->
         A valid <i><b>Password</b></i> is required to login.
        </small>
    </div>
    <br>
    <button type="submit"  class="btn btn-light">REGISTER</button> 
  <!-- </form>. -->
  <br> 
  <br>
  <button mat-button mat-dialog-close>
    <small> 
      <b>EXIT</b>
</small>
  </button>

  <!-- <button class="btn btn-light">
    <small class = "float-right" [routerLink]="['']"> 
LOGIN
</small>
  </button> -->
  </div>


<!-- </div>
</div>
</div> -->