.background {
    width: 100%;
    height: 100%;
    background: url('../../assets/images/redblueback.png') no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    // opacity: 85%;
}

// #form-wrapper {     
//     width: 300px;           /* Set this to your convenience */
//     height: 200px;          /* Set this to your convenience */
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-top: -100px;     /* Half of height */
//     margin-left: -150px;     /* Half of width */
// }


.box{
    top: 50%;
    left: 50%;
    margin:0 auto; 
    width:300px; //you can set it in %.
    height: 500px;
    position: absolute;
    padding:20px;
    top: 50%;
    left: 50%;
    margin-top: -100px;     /* Half of height */
    margin-left: -150px;
    // margin-bottom: -110px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: inset;
    border-style: outset;
    border:24px;
    border:2px solid;
    }

// #form-wrapper {     
//     width: 300px;           /* Set this to your convenience */
//     height: 200px;          /* Set this to your convenience */
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-top: -100px;     /* Half of height */
//     margin-left: -150px;     /* Half of width */
// }
