<div class="div background">

<div class="div contactDev"> 
    <h1 style="color: white;">
        DANIEL GUTIERREZ 
    </h1> 
</div>
  
<div  class =" profileImg">
  <img src="../assets/images/Profile.jpg" alt="" srcset="">
</div>

<br>
<article><b> Daniel Gutierrez</b> is a Full Stack Developer</article>


<h2>HEXAWARE TECHNOLOGIES CASE STUDY</h2>
<h3> <i>If you would like to get intouch with the creator of this site - the links are down below.</i></h3>
 
<div class="links" >
<a href="https://github.com/dannieeeg"><i class="bi bi-github" > GITHUB</i></a>
   <br>
<a href="https://www.linkedin.com/in/danieljgutierrez1/"> <i class="bi bi-linkedin"> LINKEDIN</i></a>
</div>

</div>